{%load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/opensw_final.css' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>오픈소스SW활용 2분반 강현준의 자기소개</title>
</head>

<body>
  <header class="bar">

    <div class="home">
      <a href="/">Home</a>
    </div>

    <div class="title">
      <h1>오픈소스SW활용 2분반 강현준의 자기소개</h1>
    </div>

    <div class="menu">
      <a href="basic/"><strong>기본정보</strong></a>
      <a href="interest/"><strong>관심분야</strong></a>
      <a href="mbti/"><strong>MBTI</strong></a>
    </div>

  </header>

  <div class="board">
    <ul>
      <div class="home_document">
        <h2 >강현준의 자기소개를 위한 홈페이지입니다</h2>
      </div>
      <br><br>
      <div class="face">
        <img src="https://user-images.githubusercontent.com/86392148/166962638-afc3005f-958f-4c85-8420-19044fb4ccd5.jpg">
      </div>
    </ul>
  </div>
</body>
</html>
