{%load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/opensw_final.css' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>오픈소스SW활용 2분반 강현준의 자기소개</title>
</head>

<body>
  <header class="bar">
     <div class="home">

      <a href="/">Home</a>
    </div>
    <div class="title">
      <h1>강현준의 MBTI</h1>
    </div>
    </div>
    <div class="menu">
    </div>


  </header>

  <div class="board">
    <ul>
      <div class="home_document">
        <h2 >제 MBTI - <span class="estj">ESTJ : 엄격한 관리자</span></h2>
      </div>
      <div class="center_image">
      <img style="text-align: center;" src="https://user-images.githubusercontent.com/86392148/167032708-5ad76ff7-affc-4b8c-8806-ef5b410d0b8e.png">
      </div>
      <br>
      <h3>ESTJ 유형인 사람들의 특징</h3>
      <li><span class="estj">고집이 세고 현실적이며 직설적</span>인 성격</li>
      <li><span class="estj">효율적인 일처리</span> 지향</li>
      <li>시간약속 엄수</li>
      <li>정확하고 확실한 것 선호</li>
      <li>싸움은 싫어하나 <span class="estj">지는 것도 싫어함</span></li>
      <li>확실한 호불호 보유</li>
      <br><br>
      <h4>ESTJ 성격 유형에 대해 더 궁금하시다면 아래의 자료를 참고하세요!</h4>
       <a class="estj" href = "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estj">MBTI 성격유형 ESTJ</a>
    </ul>
  </div>
</body>
</html>
